#skills {

//   -webkit-animation: scale-up-center 1s;

//           animation: scale-up-center 1s;

  width: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  @include respond(tab-port) {
    min-height: -webkit-fill-available;
    margin-bottom: 5rem;
  
  }

  @include respond(phone) {
    min-height: -webkit-fill-available;
  }

  .heading{
    @include respond(tab-port) {
    }
  }

  .skillboxes {
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 8rem;
            column-gap: 8rem;
    margin: auto 0;
    padding: 0 8rem 0 8rem;

    @include respond(tab-port) {
      padding: 0 5rem 0 5rem;
      -webkit-columns: 1;
      columns: 1;
      -webkit-column-gap: 5rem;
              column-gap: 5rem;

    }
    @include respond(phone) {
      -webkit-column-gap: 3rem;
              column-gap: 3rem;
    }
  }

  .skillBox {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    .skill-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: center;
          align-content: center;
      padding-top: 1.5rem;
      padding-bottom: .2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      p:nth-child(2) {
        position: relative;
        font-size: 1.3rem;
        font-weight: 200;
        -webkit-transform: rotate(10deg);
                transform: rotate(10deg);
        // -webkit-animation: text-focus-in 1.5s;
        //         animation: text-focus-in 1.5s;
        top: 1rem;
      }

      .dev-icon {
        font-size: 3rem;
        opacity: 0.5;
      }
    }
    

    .skill {
      background: #000;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-end-end-radius: 1rem;
      height: 10px;
    }
    .skill-level {
      background: $primary;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;

      height: 10px;
      &--html {
        -webkit-animation: animate-html 2s;
                animation: animate-html 2s;
        width: 100%;
      }
      &--css {
        -webkit-animation: animate-css 2s;
                animation: animate-css 2s;
        width: 90%;
      }
      &--sass {
        -webkit-animation: animate-sass 2s;
                animation: animate-sass 2s;
        width: 90%;
      }
      &--bootstrap {
        -webkit-animation: animate-bootstrap 2s;
                animation: animate-bootstrap 2s;
        width: 90%;
      }
      &--javascript {
        -webkit-animation: animate-js 2s;
                animation: animate-js 2s;
        width: 80%;
      }
      &--jquery {
        -webkit-animation: animate-jquery 2s;
                animation: animate-jquery 2s;
        width: 60%;
      }
      &--typescript {
        -webkit-animation: animate-typescript 2s;
                animation: animate-typescript 2s;
        width: 70%;
      }
      &--angular {
        -webkit-animation: animate-angular 2s;
                animation: animate-angular 2s;
        width: 70%;
      }
      &--ionic {
        -webkit-animation: animate-ionic 2s;
                animation: animate-ionic 2s;
        width: 70%;
      }
      &--wordpress {
        -webkit-animation: animate-wordpress 2s;
                animation: animate-wordpress 2s;
        width: 60%;
      }
      &--php {
        -webkit-animation: animate-php 2s;
                animation: animate-php 2s;
        width: 50%;
      }
      &--sql {
        -webkit-animation: animate-sql 2s;
                animation: animate-sql 2s;
        width: 50%;
      }
      &--webpack {
        -webkit-animation: animate-webpack 2s;
                animation: animate-webpack 2s;
        width: 60%;
      }
      &--git {
        -webkit-animation: animate-git 2s;
                animation: animate-git 2s;
        width: 60%;
      }
    }
  }
}
